/*

selector {properties: value;
        properties: value;
      }

*/

html {

  background-color:#D3D7DA;
font-family: 'EB Garamond', serif;
  /*min-width: 660px;*/

  /*background-image: url();*/

}



body {

  background-color: #D3D7DA;

  max-width: 700px;

  padding: 20px;
  margin-bottom: 3em;

  padding-left: 340px;





}

div#fixedheader {
	position:fixed;
	top:20px;
	left:30px;
  width: 300px;
  text-align: left;

	background:transparent;

  }

h1 {
  text-align: left;

  color: #333333;
  margin-bottom: 0;
  margin-top: 1em;

}
/*ol {
  font-family: Georgia;
  color: blue;
}*/

/*<div id= "social media">*/


ul {

  color: #333333;
  list-style: none;



}

.kids,
.kids li {
  color: #999999;

}



h2 {
  text-align: left;
  margin-bottom: 0;
  margin-top: 2em;
  color: #333333
  padding-left: 50%;
}

h3 {
  text-align: left;
  margin-bottom: 2em;
  margin-top: 2em;
  color: #333333;

}
